* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 40px;
}
body {
  background-color: rgb(169, 170, 156);
}
.greenishBG {
  background-color: rgb(131, 177, 59);
}
.redBG {
  background-color: rgb(177, 59, 104);
}
.player-numbers,
.dealer-numbers {
  text-align: center;
  font-size: 40px;
}
.btn {
  font-size: 50px;
  padding: 3px;
  margin-top: 10px;
  width: 250px;
  height: 200px;
}
.start {
  margin-left: 700px;
  margin-top: 50px;
  position: relative;
  background-color: rgb(85, 214, 46);
}
.hit {
  margin-left: 530px;
  margin-top: 50px;
  width: 300px;
  background-color: chartreuse;
}

.stand {
  width: 300px;
  background-color: crimson;
}

.again {
  margin-left: 700px;
  margin-top: 50px;
  position: relative;
  background-color: gold;
}

.center {
  margin: auto;
  margin-top: 100px;
  width: 50%;
  padding: 10px;
}
.border {
  border: 0px solid;
  width: 170px;
  width: 100%;
  height: 650px;
}
.player-number {
  color: aquamarine;
}
.dealer-number {
  color: rgb(92, 82, 82);
}

.hidden {
  display: none;
}
.win-or-loss {
  color: green;
  margin-left: 45%;
}
.dealer,
.you {
  margin-left: 100px;
}
.money-center {
  margin-left: 750px;
}
.money-amount {
  color: green;
}
.money-input {
  margin-left: 750px;
  background-color: rgb(197, 185, 116);
  width: 202px;
}
.confirm {
  margin-left: 750px;
  margin-top: 10px;
  width: 202px;
  background-color: rgb(152, 224, 18);
}
